.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.error {
  background-color: #ff3333;
}

.success {
  background-color: #33cc33;
}

.message {
  margin-right: 10px;
}

.close {
  background: none;
  border: none;
  color: inherit;
  font-size: 16px;
  cursor: pointer;
}

