.nav-bar{
    background-color: white;
    /* width: 17%;
    height: 100%; */
    /* position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    opacity: 40%; */
}
.logo{
    width: 40%;
    margin-left: 4rem;
}
/* 

.sideButtons{
    display: flex;
    margin-bottom: 120%;
    padding-right: 10%;
    flex-direction: column;
}
.sideButton{
    background: none;
    border: none;
    display: flex;
    flex-direction: row;
    margin: 5px 10px 5px 10px;
    padding: 10px 15px 10px 15px; 
    border-radius: 15px;
    width: 100%;
    color: rgb(3, 35, 86);
}
.sideButton:hover{
    cursor: pointer;
    background-color: rgb(75, 180, 48);
}
.sideButton > span{
    font-size: 18px;
    margin-left: 10px;
} */