/* FloatingChatButton.css */
.floating-chat-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  padding: 10px;
  height: 50px;
  width: 50px;
  background-color: #5293e8;
  color: #ffff;
  border: 2px solid;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999; /* Ensure it's above other content */
  font-size: 16px;
  font-weight: bold;
  /* add shawod */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}

.floating-chat-button:hover {
  background-color: #3a7abf;
}
