.hero-section {
  position: relative;
  overflow: hidden;
  height: 1%;
  width: 100%;
}

.story-slide {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: 100% 100%;
  
}

.story-slide > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  
}

.story-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.story-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.story-content p {
  font-size: 1.2rem;
}
