.expert-info-section {
  width: 100vw;
  text-align: center;
  align-items: center;
  overflow: hidden;
  margin-bottom: 10vh;
  margin-top: 10vh;
}

.expert-card {
  margin-top: 5vh;
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: content;
  overflow: hidden;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.expert-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
