.expert-info-section {
  text-align: center;
  padding: 50px 0;
}



.expert-card {
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.expert-card img {
  /* image middle of card */
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}
