.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
    position: top;
    width: 100%;
    height: 100px;
    background-color: white;
}
.logoimage{
    width: 100px;
    height: 75px;
    margin-left: 20px;
}

.loginbutton{
    margin-right: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.loginbutton:hover{
    background-color: #268fd4;
}

.logoutbutton{
    margin-right: 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.logoutbutton:hover{
    background-color: #268fd4;
}

.signupbutton{
    margin-right: 20px;
    background-color: #268fd4;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.signupbutton:hover{
    background-color: #26d4d1;
}

.userinfo{
    margin-right: 20px;
    font-size: 16px;
    color: #4CAF50;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 10px;
}
.user{
    display: flex;
    align-items: center;
}