.chat-home {
  /* background-image: url("../../assets/images/bg.jpg"); */
  background: linear-gradient(rgba(242, 104, 233, 0.2), rgba(167, 25, 25, 0.2));
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}
